@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Main {
  height: 100vh;
  width: 100vw;
}

.mainClock {
  padding: 2rem;
  line-height: 1;
}

.mainSecond {
  top: 1.5vh;
  line-height: 2.25rem; /* 36px */
}

.mainCanvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.mainImage {
  position: absolute;
  height: 65%;
  top: 15.5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
}

.navigation {
  position: absolute;
  top: 5.5%;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  animation: boxRotate 5s infinite;
}

.optionBar {
  position: absolute;
  top: 15%;
  right: 1.5vh;
  width: 8vh;
  height: 37vh;
}

.optionIcon {
  position: relative;
  margin: auto;
  width: 5vh;
  height: 5vh;
  animation: boxTurn 9s infinite;
}

@keyframes boxTurn {
  33% {
    transform: rotate(45deg);
  }
  66% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes boxRotate {
  50% {
    transform: rotate(180deg);
  }
}

.player {
  position: absolute;
  color: white;
  overflow: visible;
  width: 25%;
  height: 10%;
  left: 37.5%;
  top: 83%;
  text-align: center;
}

.audio-progress {
  position: relative;
  width: 100%;
  margin: 0 5px 0 5px;
  outline: none;
}

.audioIcon {
  position: relative;
  top: 8%;
  display: inline;
  width: 3vh;
  height: 3vh;
  margin-left: 6%;
}

.playlist {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 16px;
  top: 27.5%;
  right: 8%;
  width: 18%;
  height: 45%;
}

.playlist-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
}

.playlist-item-container {
  width: 90%;
  padding-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-item {
  height: 100%;
  width: 90%;
  margin: auto;
}

.playlist-scroll {
  height: 100%;
  width: 10%;
}

.playlist-scroll-img {
  position: absolute;
  right: 0.5%;
  width: 8%;
  height: 8%;
  animation: 5s float infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(2px);
  }
  75% {
    transform: translatey(-1px);
  }
  100% {
    transform: translatey(0px);
  }
}

.playlistItemWrapper {
  position: relative;
  padding: 3px;
  height: 82%;
}

.playlistItem {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 1px) and (max-width: 1360px) {
}
