@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Main{
  height: 100vh;
  width: 100vw;
}

.mainClock{
  padding: 2rem;
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.mainSecond{
  top: 1.5vh;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.mainCanvas{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.mainImage{
  position: absolute;
  height: 65%;
  top: 15.5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 2px;
}

.navigation{
  position: absolute;
  top: 5.5%;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  animation: boxRotate 5s infinite;
}

.optionBar{
  position: absolute;
  top: 15%;
  right: 1.5vh;
  width: 8vh;
  height: 37vh;
}

.optionIcon{
  position: relative;
  margin: auto; 
  width: 5vh;
  height: 5vh;
  animation: boxTurn 9s infinite;
}

@keyframes boxTurn {
  33% {transform: rotate(45deg);}
  66% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

@keyframes boxRotate {
  50% {transform: rotate(180deg);}
}

.player{
  position: absolute;
  color: white;
  width: 25vw;
  height: 12vh;
  left: 37.5vw;
  top: 83.5vh;
  text-align: center;
} 

.player p{
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */ 
}

.audioProgress{
  position: relative;
  margin-top: 1.5vh; 
  width: 80%;
  height: 1vh;
  -webkit-appearance: none;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; 
}

.audioProgress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%; 
  background: rgba(30,106,225,.7);
  cursor: pointer;
}

.audioProgress::-moz-range-thumb {
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background: rgba(30,106,225,.7);
  cursor: pointer;
}

.audioIcon{
  position: relative;
  top: 8%;
  display: inline;
  width: 3vh;
  height: 3vh;
  margin-left: 6%;
}

.playlist{
  position: absolute;
  right: 10%;
  top: 30%;
  color: white;
  width: 30vh;
  height: 40%;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  border-radius: 2px;
}

.playlistNavigation{
  display: flex;
}

.playlistNavigation p{
  flex: 1;
  padding: 2.5px; 
  opacity: .8;
  width: 100%;
  text-align: center;
}

.playlistItemWrapper{
  overflow-y: scroll;
  padding: 3px;
  height: 36vh;
}

.playlistItemWrapper::-webkit-scrollbar{
  width: 10px;
}

.playlistItemWrapper::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, .75);
}

.playlistItem{
  width: 90%;
  margin: auto;
}

@media screen and (min-width:1px) and (max-width:1367px) {
  .mainClock{
    font-size: 4.5rem; /* 72px */
    line-height: 1;
  }

  .mainSecond{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  .player p{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }

  .playlist p{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
}